// Colors
$bluefly: #0f1d32;
$pinkish: #f14e53;
$white: #eee;

:root {
  --brand-white: #eee;
  --water: #d9e2f7;
  --rose: #fd469f;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  @include fontSize(32px);
  margin-bottom: calculateMargin(20px);
}

p {
  @include fontSize(16px);
  margin-top: 0;
  margin-bottom: calculateMargin(10px);
  line-height: 160%;
}

main {
  padding: 20px;
  height: 100vh;
}

div {
  margin-bottom: calculateMargin(10px);
}

button {
  background: var(--brand-white);
}

textarea {
  resize: none;
}

label,
input:not([type=radio]):not([type=checkbox]),
textarea {
  display: block;
  width: 100%;
  outline: none;
}

input:not([type=radio]):not([type=checkbox]),
textarea {
  border: 2px solid var(--water);
  transition: border-color 0.25s ease;
  &:hover,
  &:focus {
    border-color: var(--rose);
  }
}

input[type=radio] + label,
input[type=checkbox] + label {
  display: initial;
}

button[type=submit] {
  border: 2px solid var(--rose);
  border-radius: 10px;
  padding: 5px;
  transition: background 0.25s ease;
  &:hover {
    color: var(--brand-white);
    background: var(--rose);
  }
}