:root {
  --brand-white: #fffffe;
  --water: #d9e2f7;
  --rose: #fd469f;
  --cod: #111;
  --french-gray: #b9bcc1;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  @include fontSize(32px);
  margin-bottom: calculateMargin(20px);
}

p {
  @include fontSize(16px);
  margin-top: 0;
  margin-bottom: calculateMargin(10px);
  line-height: 160%;
}

.content-container {
  margin-bottom: 0;
  width: 100%;
  background: var(--brand-white);
  box-shadow: 1px 30px 55px -10px black;
}

div {
  margin-bottom: calculateMargin(10px);
}

button {
  background: var(--brand-white);
}

textarea {
  resize: none;
}

label {
  color: var(--cod);
  font-size: .75em;
}

label,
select,
input:not([type=radio]):not([type=checkbox]),
textarea {
  display: block;
  width: 100%;
  outline: none;
}

input:not([type=radio]):not([type=checkbox]),
select,
textarea {
  border: 2px solid var(--rose);
  border-radius: 6px;
  transition: border-color 0.25s ease;
  &:hover,
  &:focus {
    border-color: var(--rose);
  }
}

input[type=radio] + label,
input[type=checkbox] + label {
  display: initial;
}

button[type=submit] {
  border: 2px solid var(--rose);
  border-radius: 10px;
  padding: 5px;
  transition: background 0.25s ease;
  &:hover {
    color: var(--brand-white);
    background: var(--rose);
  }
}

::placeholder {
  font-size: .5em;
}

.page {
  position: relative;
  margin-bottom: 0;
  padding: calculateMargin(80px);
  position: relative;
  height: 100vh;
  // background: linear-gradient(var(--rose), #9198e5);
}

.backgrounds {
  margin-bottom: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.top-background, {
  margin-bottom: 0;
  height: 600px;
  width: 100%;
  background: linear-gradient(to right, #FF4204, #FF8A05)
}

.middle-background {
  margin-bottom: 0;
  height: 300px;
  background: #f8f8f8;
}

.bottom-background {
  margin-bottom: 0;
  height: 300px;
  background: #232527;
}