:root {
  --brand-white: #fffffe;
  --cod: #111;
  --black-russian: #242528;
  --mountain-mist: #959595;
  --alabaster: #f8f8f8;
  --shark: #232527;
  --vermillion: #ff4204;
  --pizazz: #ff8a05
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  @include fontSize(40px);
  font-weight: 600;
  margin-bottom: calculateMargin(20px);
  color: var(--cod);
}

h2 {
  @include fontSize(24px);
  margin-bottom: calculateMargin(16px);
}

p {
  @include fontSize(14px);
  margin-top: 0;
  margin-bottom: calculateMargin(10px);
  line-height: 160%;
  font-weight: 400;
  color: var(--mountain-mist);
}

section {
  margin-bottom: calculateMargin(100px);
  &:last-of-type {
    margin-bottom: 0;
  }
}

textarea {
  resize: none;
}

label {
  color: var(--cod);
  font-size: .75em;
}

label,
select,
input:not([type=radio]):not([type=checkbox]):not([type=submit]),
textarea {
  display: block;
  width: 100%;
  outline: none;
}

input:not([type=radio]):not([type=checkbox]):not([type=submit]),
select,
textarea {
  border: none;
  // border-bottom: 2px solid var(--mountain-mist);
  transition: border-color 0.25s ease;
  &:hover,
  &:focus {
    border-color: var(--pizazz);
  }
}

input[type=radio] + label,
input[type=checkbox] + label {
  display: initial;
}

.brand-button,
button,
button[type=submit],
input[type=submit] {
  border: none;
  border-radius: 20px;
  color: var(--brand-white);
  background: var(--vermillion);
  padding: 10px 20px;
  transition: background 0.25s ease;
  &:hover {
    color: var(--brand-white);
    background: var(--pizazz);
  }
  &.--weight-600 {
    font-weight: 600;
  }
  &.--cod-text {
    color: var(--cod);
  }
  &.--red-background {
    background: linear-gradient(to right, var(--vermillion), 80%, var(--pizazz));
  }
  &.--white-background {
    background: var(--brand-white);
  }
  &.--grey-border {
    border: 1px solid var(--cod);
  }
  &.--mountain-mist-border {
    border: 1px solid var(--mountain-mist);
  }
  &+button {
    margin-left: calculateMargin(10px);
  }
}

.page-content-padding-left {
  padding-left: calculateMargin(40px);
  @include wider-than(800px) {
    padding-left: calculateMargin(80px);
  }
}

.media-row {
  @include wider-than(800px) {
    display: flex;
    > div {
      flex: 1;
    }
  }
}

.field-row {
  > div {
    margin-bottom: 0;
    @include wider-than (600px) {
      display: inline-block;
      width: calc(50% - 1.5em);
      margin-right: 1em;
      &:last-child {
        width: 50%;
        margin-right: 0;
      }
    }
  }
}

::placeholder {
  font-size: .5em;
}

.page {
  position: relative;
  padding: calculateMargin(20px);
  position: relative;
  height: 100vh;
  @include wider-than(1000px) {
    padding: calculateMargin(80px);
  }
}

.content-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background: var(--brand-white);
  box-shadow: 1px 30px 55px -10px black;
}

.backgrounds {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.top-background, {
  height: 850px;
  width: 100%;
  background: linear-gradient(to right, var(--vermillion), 70%, var(--pizazz));
}

.middle-background {
  height: 1400px;
  background: var(--alabaster);
}

.bottom-background {
  height: 500px;
  background: var(--shark);
}

#header {
  background: var(--brand-white);
  display: flex;
  padding: calculateMargin(10px) calculateMargin(10px);
  @include wider-than(600px) {
    padding: calculateMargin(20px) calculateMargin(60px);
  }
  @include wider-than(800px) {
    padding: calculateMargin(40px) calculateMargin(80px);
  }
  > * {
    flex: 1;
  }
  > span {
    display: none;
    @include wider-than(500px) {
      display: initial;
    }
  }
  #nav-bar {
    display: flex;
    justify-content: flex-end;
    > span {
      align-self: center;
      margin-right: calculateMargin(20px);
      font-weight: 400;
      color: var(--mountain-mist);
      @include wider-than(550px) {
        margin-right: calculateMargin(40px);
      }
      &:hover {
        color: var(--cod);
      }
      &:first-of-type {
        color: var(--cod);
      }
      &:last-of-type {
        margin-right: 0;
      }
      a {
        align-self: center;
      }
    }
  }
}

.fixed-nav #header {
  position: fixed;
  top: 0;
  z-index: 5;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.hero {
  .hero-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(13, 50px);
    .color-block {
      grid-column: 4 / -1;
      grid-row: 3 / 14;
      z-index: 4;
      background: linear-gradient(to left, var(--vermillion) 59%, var(--pizazz));
      z-index: 1;
    }
    .image-block {
      grid-column: 1 / 9;
      grid-row: 1 / 12;
      background-image: url(images/solar-panel-flare-3.jpg);
      background-repeat: no-repeat;
      background-position: right bottom;
      z-index: 2;
    }
    .text-block {
      grid-column: 6 / 13;
      grid-row: 1 / 12;
      z-index: 3;
      padding: calculateMargin(45px) calculateMargin(20px) calculateMargin(20px) calculateMargin(30px);
      background: var(--brand-white);
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      @include wider-than(800px) {
        grid-column: 7 / 13;
        grid-row: 4 / 12;
        padding: calculateMargin(65px) calculateMargin(40px) calculateMargin(40px) calculateMargin(50px);
      }
      @include wider-than(1000px) {
        margin-right: calculateMargin(80px); 
        padding: calculateMargin(85px) calculateMargin(60px) calculateMargin(60px) calculateMargin(70px);
      }
      h1 {
        margin-bottom: 0;
      }
      > div {
        position: relative;
        > * {
          display: inline-block;
        }
        p {
          margin-bottom: 0;
          @include wider-than(800px) {
            width: 50%;
            width: 60%;
          }
        }
        button {          
          @include wider-than(800px) {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

section {
  &.value-section {
    // display: initial;
    @include wider-than(900px) {
      display: flex;
    }
    .value-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    h1 {
      width: 50%;
    }
    > div {
      > p {
        width: 75%;
        margin-bottom: calculateMargin(60px);
      }
      button {
        &+button {
          margin-top: calculateMargin(10px);
          margin-left: 0;
          @include wider-than(1130px) {
            margin-top: 0;
            margin-left: calculateMargin(10px);
          }
        }
      }
    }
    .feature-cards {
      display: inline-block;
      @include wider-than(800px) {
        display: flex;
        text-align: center;  
      }
      > div {
        margin: calculateMargin(10px);
        padding: 45px 35px 35px 35px;
        height: 150px;
        width: 150px;
        box-shadow: 0px 8px 20px -4px var(--mountain-mist);
        @include wider-than(800px) {
          // padding: 45px 35px 35px 35px;
          height: 200px;
          width: 200px;
        }
        span {
          font-weight: 600;
        }
      }
      &:last-child {
        margin-left: calculateMargin(100px);
        > div {
          margin-bottom: 0;
        }
      }
    }
  }
}

section {
  &.video-section {
    display: initial;
    @include wider-than(900px) {
      display: flex;
    }
    @include less-than(800px) {
      .video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
    .video-text {
      padding-top: calculateMargin(50px);
      padding-left: calculateMargin(50px);
      @include wider-than(800px) {
        padding-top: calculateMargin(70px);
        padding-left: calculateMargin(70px);
      }
      @include wider-than(1000px) {
        padding-top: calculateMargin(90px);
        padding-left: calculateMargin(90px);
      }
    }
  }
}

.sales-section {
  margin-bottom: 0;
  .sales-text {
    margin-top: calculateMargin(20px);
    h1 {
      margin-bottom: calculateMargin(60px);
      width: 90%;
    }
  }
  #salesRep {
    padding-top: calculateMargin(40px);
    padding-bottom: calculateMargin(40px);
    background: linear-gradient(to right, var(--vermillion), 70%, var(--pizazz));
    .sales-card {
      margin: 0 auto;
      text-align: center;
      font-weight: 400;
      width: 50%;
      color: var(--alabaster);
      img {
        margin-top: calculateMargin(5px);
        margin-bottom: calculateMargin(5px);
        border-radius: 50%;
        border: 2px solid var(--alabaster);
      }
      h2 {
        margin-bottom: 0;
      }
      > span {
        display: block;
        margin-bottom: calculateMargin(5px);
      }
    }
  }
}


.contact-section {
  background: var(--black-russian);
  padding-top: calculateMargin(140px);
  padding-bottom: calculateMargin(140px);
  .form-container {
    margin: 0 auto;
    width: 50%;
    h1 {
      color: var(--alabaster);
    }
    #form {
      label {
        color: var(--alabaster);
      }
      #email {
        // width: 50%;
      }
    }
  }
}