.background-brand-white {
  background-color: #fffffe;
}

.background-cod {
  background-color: #111;
}

.background-black-russian {
  background-color: #242528;
}

.background-mountain-mist {
  background-color: #959595;
}

.background-alabaster {
  background-color: #f8f8f8;
}

.background-shark {
  background-color: #232527;
}

.background-vermillion {
  background-color: #ff4204;
}

.background-pizazz {
  background-color: #ff8a05;
}